<section class="user-section">
<div class="space-between">
  <h2><%= @user.name %></h2>
  <%= render partial: 'users/friend_btn' %>
</div>
  <article class="timeline">
    <%= render_posts %>
  </article>
</section>
