/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav {
  white-space: nowrap;
}

nav a {
  width: fit-content;
  margin: 0 10px;
}

ul {
  text-align: left;
  padding: 0;
  width: 100%;
}

li {
  padding: 10px 0;
}

li.for-btn {
  display: flex;
  justify-content: space-between;
}

li.for-btn > strong {
  margin-right: 30px;
}

.btn {
  background-color: purple;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.btn.decline {
  background-color: #a1a1a1;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
